<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p17107.supermarkets_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Supermarkets_app">
        <activity android:name=".user_registration">

        </activity>
        <activity android:name=".user_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".delete_products" />
        <activity android:name=".add_products" />
        <activity android:name=".edit_products" />
        <activity android:name=".edit_stock" />
        <activity android:name=".edit_products_menu" />
        <activity android:name=".view_supermarkets" />
        <activity android:name=".admin_menu" />
        <activity android:name=".admin_login">
        </activity>
    </application>

</manifest>